In [98]:
import pandas as pd
import re
import numpy as np
import unicodedata
from IPython.display import display, HTML

pd.set_option("display.max_columns", 100)

In [99]:
def convert_to_lower_case(data):
    if type(data) is dict:
        for k, v in data.items():
            if type(v) is str:
                data[k] = v.lower()
            elif type(v) is list:
                data[k] = [x.lower() for x in v]
            elif type(v) is dict:
                data[k] = convert_to_lower_case(v)
    return data

In [128]:
files_to_read = [
    {
        'output_file' : '2016-17_pearl', \
        'year': '2016-2017', \
        'xls_file' : 'appendix_18_reconciliation_sheets_by_company_pearl.xlsx', \
        'name_cols': 'A:B', \
        'data_cols' : 'A:Z', \
        'data_skip_rows' : 4, \
        'stop_at' : '1000'
    },
    {
        'output_file' : '2016-17_gems_jade', \
        'year': '2016-2017', \
        'xls_file' : 'appendix_18_reconciliation_sheets_by_company_gems_and_jade.xlsx', \
        'name_cols': 'A:B', \
        'data_cols' : 'A:Z', \
        'data_skip_rows' : 4, \
        'stop_at' : '1000'
    },
    {
        'output_file' : '2016-17_gems_jade_final', \
        'year': '2016-2017', \
        'xls_file' : 'appendix_18_reconciliation_sheets_by_company_gems_and_jade_final.xlsx', \
        'name_cols': 'A:B', \
        'data_cols' : 'A:Z', \
        'data_skip_rows' : 4, \
        'stop_at' : '1000', \
        'copy_currency_from_col_6': True
    }
#     {
#         'output_file' : '2016-17_oil_gas', \
#         'year': '2016-2017', \
#         'xls_file' : 'appendix_18_reconciliation_sheets_by_company_oil_and_gas.xlsx', \
#         'name_cols': 'A:B', \
#         'data_cols' : 'A:Z', \
#         'data_skip_rows' : 4, \
#         'stop_at' : '1000'
#     },
#     {
#         'output_file' : '2016-17_other_minerals', \
#         'year': '2016-2017', \
#         'xls_file' : 'appendix_18_reconciliation_sheets_by_company_minerals.xlsx', \
#         'name_cols': 'A:B', \
#         'data_cols' : 'A:Z', \
#         'data_skip_rows' : 4, \
#         'stop_at' : '1000'
#     },
#     {
#         'output_file' : '2016-17_oil_gas_transport', \
#         'year': '2016-2017', \
#         'xls_file' : 'appendix_18_reconciliation_sheets_by_company_oil_and_gas_transportation.xlsx', \
#         'name_cols': 'A:B', \
#         'data_cols' : 'A:Z', \
#         'data_skip_rows' : 4, \
#         'stop_at' : '1000'
#     }
]


'''
files_to_read = [
    {
        'output_file' : '2015-16_other_minerals', \
        'year': '2015-2016', \
        'xls_file' : 'Annex 18 - Reconciliation sheets Other minerals 15-16.xlsx', \
        'name_cols': 'B:E', \
        'data_cols' : 'A:M', \
        'data_skip_rows' : 5, \
        'stop_at' : '28'
    }
]


    {
        'output_file' : '2014-15_oil_gas_transport', \
        'year': '2014-2015', \
        'xls_file' : 'Annex 18 - Reconciliation sheets Oil & Gas transp 15-16.xlsx', \
        'name_cols': 'B:E', \
        'data_cols' : 'A:M', \
        'data_skip_rows' : 5, \
        'stop_at' : '1000'
    },

'''

#name_cols = 'B:D'
#data_cols = 'A:M'
#data_skip_rows = 4

"\nfiles_to_read = [\n    {\n        'output_file' : '2015-16_other_minerals',         'year': '2015-2016',         'xls_file' : 'Annex 18 - Reconciliation sheets Other minerals 15-16.xlsx',         'name_cols': 'B:E',         'data_cols' : 'A:M',         'data_skip_rows' : 5,         'stop_at' : '28'\n    }\n]\n\n\n    {\n        'output_file' : '2014-15_oil_gas_transport',         'year': '2014-2015',         'xls_file' : 'Annex 18 - Reconciliation sheets Oil & Gas transp 15-16.xlsx',         'name_cols': 'B:E',         'data_cols' : 'A:M',         'data_skip_rows' : 5,         'stop_at' : '1000'\n    },\n\n"

In [129]:
df_all = pd.DataFrame({'company_name' : [],'name_of_revenue_stream' : [], \
                       'paid_to' : [], 'payment_category' : [], 'units' : [], \
                       'per_company_original' : [], \
                       'per_company_adjust' : [], \
                       'per_company_final' : [], \
                       'per_government_original' : [], \
                       'per_government_adjust' : [], \
                       'per_government_final' : [], \
                       'final_difference' : [], \
                       'comment' : []
                      })

key_terms = { 'payment_category' : ['Payments in kind', 'Payments in cash', 'B- Unilateral company disclosures'], \
              'units' : ['In Barils', 'In Mscf', 'Gold in T.oz', 'Tin in MT', 'In (Please mention the commodity)', \
                       'Antimony Ore', 'NA', 'Copper', 'Copper in MT', 'Ferro Nickel']
            }
key_terms = convert_to_lower_case(key_terms)

In [130]:
def remove_duplicate_name_segements(seq):
    seen = set()
    seen_add = seen.add
    return [x for x in seq if not (x in seen or seen_add(x))]

In [131]:
def join_column_titles(text):
    to_return = ""
    for t in text:
        if not isinstance(t, float):
            t = t.strip()
            to_return = '.'.join([to_return,(''.join(i for i in t if ord(i)<128))])
    #print("FINAL: " + to_return)
    
    unique_elements = remove_duplicate_name_segements(to_return.split("."))
    to_return = '.'.join(unique_elements)
    
    # remove first '.' from the title
    return to_return[1:]

In [132]:
def rename_duplicate_column_titles(columns):
    unique_titles = []
    title_counts = {}
    
    for c in columns:
        if c in unique_titles:
            title_counts[c] += 1
            unique_titles.append(c + "." + str(title_counts[c]))
        else:
            title_counts[c] = 0
            unique_titles.append(c)
            
    return unique_titles

In [133]:
def total_in_mmk(row,variable,euro_xrate=1378.36,usd_xrate=1257):
    # Exchange rate taken from MEITI 2016-17 Report
    # USD$ 1 = MMK 1,257.00 
    # EURO 1 = MMK 1,378.36
    
    mmk = euro = usd = 0
    
    if variable + '.mmk' in row.index:
        mmk = row[variable + '.mmk']
    if variable + '.euro' in row.index:
        euro = row[variable + '.euro']
    if variable + '.usd' in row.index:
        usd = row[variable + '.usd']
        
    return mmk + euro*euro_xrate + usd*usd_xrate

In [134]:
def add_sheet_to_main_df(main_df,current_df, company_name,company_number,key_terms):

    
    current_payment_category = ""
    current_units = "MMK"
    current_paid_to = ""

            
    for index, row in current_df.iterrows():
        
        index_col = 'n'
        description_col = 'description of payment'
        
        # skip row if 'Â°' is included in it because that means 
        #  there's an extra row of French titles in the table
        unicode_row = row.to_string().encode("utf-8")        
        if u'\xb0' in unicode_row.decode('windows-1252'):
            continue
        
        # if the index column in empty, that means it's not a data-row
        if str(row[index_col])  == 'nan':
            index_col = description_col
        
        #print(str(row[description_col]).lower() + " | " + str(row[index_col]).lower())
        
        if str(row[index_col]).lower() in key_terms['payment_category']:
            current_payment_category = str(row[index_col]).lower()
        elif str(row[index_col]).lower() in key_terms['units']:
            current_units = str(row[index_col]).lower()
            current_paid_to = ""
        elif not str(row[index_col]).replace('.','',1).isdigit():
            current_paid_to = str(row[index_col])
            current_units = "MMK"
        
        
        #per company.payment as disclosed by company.mmk	per company.company adjust.mmk	per company.final.mmk	per government.revenue as disclosed by government.mmk	per government.government adjust.mmk	per government.final.mmk	variance pre-recocniliation.mmk	variance post-reconciliation.mmk	remarks	per company.payment as disclosed by company.euro	per company.company adjust.euro	per company.final.euro	per government.revenue as disclosed by government.euro	per government.government adjust.euro
           
        if str(row['n']).replace('.','',1).isdigit():
            if 'remarks.1' in row.index:
                remarks = str(row['remarks'])+'; '+str(row['remarks.1'])
            else:
                remarks = str(row['remarks'])
            
            to_append = pd.DataFrame({'company_name' : [company_name], \
                  'company_registration_number' : [company_number], \
                  'name_of_revenue_stream' : [row['description of payment']] , \
                  'paid_to' : [current_paid_to], \
                  'payment_category' : [current_payment_category], \
                  'units' : [current_units], \
                  'per_company_original' : [total_in_mmk(row,'per company.payment as disclosed by company')], \
                  'per_company_adjust' : [total_in_mmk(row,'per company.company adjust')], \
                  'per_company_final' : [total_in_mmk(row,'per company.final')], \
                  'per_government_original' : [total_in_mmk(row,'per government.revenue as disclosed by government')], \
                  'per_government_adjust' : [total_in_mmk(row,'per government.government adjust')], \
                  'per_government_final' : [total_in_mmk(row,'per government.final')], \
                  'final_difference' : [total_in_mmk(row,'variance post-reconciliation')], \
                  'comment' : [remarks] \
                })
            
            
            to_append['comment'].fillna('', inplace=True)
            to_append.fillna(0, inplace=True)
            
            main_df = pd.concat([main_df, to_append])
        
    return main_df

In [135]:
def read_files(files_to_read, df_all): 
    for f in files_to_read:

        output_file = f['output_file']
        year = f['year']
        xls_file = f['xls_file']
        name_cols = f['name_cols']
        data_cols = f['data_cols']
        data_skip_rows = f['data_skip_rows']   
        stop_at = f['stop_at']   
        if 'copy_currency_from_col_6' in f:
            copy_currency_from_col_6 = f['copy_currency_from_col_6']
        else:
            copy_currency_from_col_6 = False
        print(copy_currency_from_col_6)

        xl = pd.ExcelFile(year+'/'+xls_file)
#        '2014-2015/Annex 18 - Reconciliation sheets Gems & Jade 14-15.xlsx')

        print(year+'/'+xls_file)
        sheets_list = xl.sheet_names
    
        print(sheets_list)

        df_all = pd.DataFrame()
        
        for s in sheets_list:
            
            if not (re.search("[A-Z]+\s*\(\d+\)",s) or re.search("[A-Z]+\s*\d+",s)):
                continue
            else:
                match = re.search(r'(\d+)', s)
                print('current sheet number: ' + match.group(1))
                if int(match.group(1)) > int(stop_at):
                    continue

            print(s)
            sheet_name = s

            #print(name_cols)
            name_df = xl.parse(sheet_name, usecols = name_cols,header=None)
            #display(name_df.head())

            company_name = str(name_df.loc[0,1]).strip()
            company_number = str(name_df.loc[1,1]).strip()
            print(company_name, company_number)

            df = xl.parse(sheet_name, skiprows=data_skip_rows, parse_cols = data_cols, header=None)        
            
            #display(df.head())
            for i in df.iloc[0:1]:
                if df.iloc[0:1][i][0] == 'Company':
                    df.iloc[0:1][i][0] = 'per company'
                if df.iloc[0:1][i][0] == 'Government Agency':
                    df.iloc[0:1][i][0] = 'per government'
                    
            
            # fill out cells with merged column headers
            df.dropna(how='all',axis=1,inplace=True)
            if copy_currency_from_col_6:
                df.iloc[2] = df.iloc[6]
            df.iloc[0:2] = df.iloc[0:2].fillna(method='ffill', axis=0)
            df.iloc[0:2] = df.iloc[0:2].fillna(method='ffill', axis=1)
            #display(df.head())
            df.columns = df.iloc[0:3].apply(join_column_titles, axis=0)
            df = df.iloc[3:]
            df = df.reset_index(drop=True)
            df.columns = rename_duplicate_column_titles(df.columns)
            df.columns = [x.lower() for x in df.columns]
            df.rename(columns={'final difference.final': 'final difference', \
                               'comment.final': 'comment'}, inplace=True)
            
            #display(df.head())
            if 's/n' in df.columns:
                df.rename(columns={'s/n': 'n'}, inplace=True) 
            if 'description of payment.description' in df.columns:
                df.rename(columns={'description of payment.description': \
                                   'description of payment'}, inplace=True)
                
            for col in df.columns:
                new_col_name = col.replace("governement", "government")
                new_col_name = new_col_name.replace("ajust", "adjust")
                df.rename(columns={col: new_col_name}, inplace=True)
            
            
            
            if 'per company.payment as disclosed by company.mmk' in df.columns:
                df.rename(columns={'per company.initial': 'per company.original'}, inplace=True)
            if 'per government.initial' in df.columns:
                df.rename(columns={'per government.initial': 'per government.original'}, inplace=True)
                
                
            if 'company.initial' in df.columns:
                df.rename(columns={'company.initial': 'per company.original'}, inplace=True)
            if 'government agency.initial' in df.columns:
                df.rename(columns={'government agency.initial': 'per government.original'}, inplace=True)


            #display(df.head())
            # clean name for the company to save individual CSV file if needed
            name = map(lambda x: ''.join(e for e in x if e.isalnum()) , company_name.split(' '))
            name = ' '.join(w for w in name)
            name = re.sub( '\s+', ' ', name.strip())
            filename = re.sub( '\s+', '_', name.strip())+'.csv'
            #         df.to_csv(filename)

            #print(filename)

            df_all = add_sheet_to_main_df(df_all,df, company_name,company_number,key_terms)
    
        df_all = df_all.reset_index(drop=True)
        df_all.to_csv(year+'/'+output_file+'.csv', encoding='utf-8')

        display(df_all.head())

In [136]:
read_files(files_to_read,df_all)

False
2016-2017/appendix_18_reconciliation_sheets_by_company_pearl.xlsx
['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11']
current sheet number: 1
C1
Annawar Pearl Company Limited 109604496
current sheet number: 2
C2
Aquagold Myanmar Co., Ltd 110185464
current sheet number: 3
C3
Belpearl Myanmar Co., Ltd 105482817
current sheet number: 4
C4
Myanmar Andman Co., Ltd 104651240
current sheet number: 5
C5
Myanmar Atlantic Co., Ltd 109939404
current sheet number: 6
C6
Myanmar Tasaki Co., Ltd 22FC/2001-2002
current sheet number: 7
C7
Niino Pearl Culturing Co., Ltd 1638/1999-2000
current sheet number: 8
C8
Orient Pearl Co., Ltd (Jalan) 1384/1998-1999
current sheet number: 9
C9
Orient Pearl Co., Ltd (Zinyaw) 1384/1998-1999
current sheet number: 10
C10
Pyae Phyo Tun Co., Ltd Pyi Phyo Tun International Company Limited
current sheet number: 11
C11
Pyae Sone Htet Myint Co., Ltd 100108143

,company_name,company_registration_number,name_of_revenue_stream,paid_to,payment_category,units,per_company_original,per_company_adjust,per_company_final,per_government_original,per_government_adjust,per_government_final,final_difference,comment
0,Annawar Pearl Company Limited,109604496,Production Split (In Kind),"State Owned Enterprises (ME1, ME2)",,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
1,Annawar Pearl Company Limited,109604496,Custom Duties,Customs Department (CD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
2,Annawar Pearl Company Limited,109604496,Commercial Tax on Imported Capital Equipment,Customs Department (CD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
3,Annawar Pearl Company Limited,109604496,Commercial Tax on Imports on Raw Materials and...,Customs Department (CD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
4,Annawar Pearl Company Limited,109604496,Corporate Income Tax,Inertal Revenue Department (IRD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan

False
2016-2017/appendix_18_reconciliation_sheets_by_company_gems_and_jade.xlsx
['C(1)', 'C(2)', 'C(3)', 'C(4)', 'C(5)', 'C(6)', 'C(7)', 'C(8)', 'C(9)', 'C(10)', 'C(11)', 'C(12)', 'C(13)', 'C(14)', 'C(15)', 'C(16)', 'C(17)', 'C(18)', 'C(19)', 'C(20)', 'C(21)', 'C(22)', 'C(23)', 'C(24)', 'C(25)', 'C(26)', 'C(27)', 'C(28)', 'C(29)', 'C(30)', 'C(31)', 'C(32)', 'C(33)', 'C(34)', 'C(35)', 'C(36)', 'C(37)', 'C(38)', 'C(39)', 'C(40)', 'C(41)', 'C(42)', 'C(43)', 'C(44)', 'C(45)', 'C(46)', 'C(47)', 'C(48)', 'C(49)', 'C(50)', 'C(51)', 'C(52)', 'C(53)', 'C(54)', 'C(55)', 'C(56)', 'C(57)', 'C(58)', 'C(59)', 'C(60)', 'C(61)', 'C(62)', 'C(63)', 'C(64)', 'C(65)', 'C(66)', 'C(67)', 'C(68)', 'C(69)', 'C(70)', 'C(71)', 'C(72)', 'C(73)', 'C(74)', 'C(75)', 'C(76)', 'C(77)', 'C(78)', 'C(79)', 'C(80)', 'C(81)', 'C(82)', 'C(83)', 'C(84)']
current sheet number: 1
C(1)
(1.1.1) Gems & Jewellery Co.,Ltd 121174545
current sheet number: 2
C(2)
Agga Yadanar Min Yarzar nan
current sheet number: 3
C(3)
Aung Aung Naing Naing Gems Co.,Ltd 948/2006-2007
current sheet number: 4
C(4)
Aung Myin Thu (AMT) Company 1135/1996-1997
current sheet number: 5
C(5)
Ayar Jade Company nan
current sheet number: 6
C(6)
Ayeyar Yadanar Gems & Jewellery Co., Ltd. 1532/1996-1997
current sheet number: 7
C(7)
Ba Wa Tet Lan nan
current sheet number: 8
C(8)
CANCRI (GEMS & Jewellery) Co.,Ltd (Phu Sha Star) nan
current sheet number: 9
C(9)
Chang Long Gems & Jewellery  Co.,Ltd. 147874405
current sheet number: 10
C(10)
Chaow Brothers (GCB) (Venture) 462/1995-1996
current sheet number: 11
C(11)
Crystal Red Gems Co.,Ltd 1020/1995-1996
current sheet number: 12
C(12)
Emerald Garden Co., Ltd. 701/2011-2012
current sheet number: 13
C(13)
Ever Winner Gems Company [EW] 952 / 1995-1996
current sheet number: 14
C(14)
Farmer Phyoyarzar Gems Co., Ltd 941/2004-05
current sheet number: 15
C(15)
Golden Grate Wall Gems Co.,Ltd 111033986
current sheet number: 16
C(16)
Great Genesis Gems (GMH) Company 978
current sheet number: 17
C(17)
Great Nine 105254474
current sheet number: 18
C(18)
GREEN MOUNTAIN COMPANY LIMITED 1161/2006-2007
current sheet number: 19
C(19)
Hawk Kyi Jewellery Company 1425/1996-1997
current sheet number: 20
C(20)
Jade Ayer International Co.,Ltd 136/2006-2007
current sheet number: 21
C(21)
Jade Mountain Gems Company 203/2000-2001
current sheet number: 22
C(22)
Jade New Gems & Jewellery Co., Ltd. 2657/2010-2011
current sheet number: 23
C(23)
Jade Padathar Company 1161/2013-2014
current sheet number: 24
C(24)
Jade Palace ( Kyauk Seinn Nandaw Gems & Jewellery Co., Ltd.) 1008/2003-2004 ( 100798247)
current sheet number: 25
C(25)
Jade Pioneer Company Limited (Jade Shaesaung) 102272692
current sheet number: 26
C(26)
JADE TREASURE COMPANY LIMITED 459/2006-2007
current sheet number: 27
C(27)
Kachin Nationals Development@ Progress Gems Co.,Ltd 938/1995-1996
current sheet number: 28
C(28)
Kaung Myat Thukha  Co., Ltd 780/2014-2015
current sheet number: 29
C(29)
Kaung Su Aung Jade & Gmes Co., Ltd. 582/2002-2003
current sheet number: 30
C(30)
Kaung Su Wai Hlyan Gems Co.,Ltd 295/2006-2007
current sheet number: 31
C(31)
Kaung Swan Htet Company 148/2010-2011
current sheet number: 32
C(32)
Khin Zaw Aung & Brothers Gems and Jewellery Company Limited 1117/2007-2008
current sheet number: 33
C(33)
Khine Lon Company (KL) 1811/2005-2006
current sheet number: 34
C(34)
KHUN PA-OH GEMS & JEWELLERY CO LTD. 1311/1995-1996
current sheet number: 35
C(35)
Kyaing International (GKI) Company 872/2007-2008
current sheet number: 36
C(36)
Kyauk Seinn Sun Shwin Jade, Gems & Jewellery Co., Ltd. 36/2012-2013
current sheet number: 37
C(37)
Kyauk Seinn Wingabar Jade, Gems & Jewellery Company 188/2012-2013
current sheet number: 38
C(38)
Kyaw Naing & Brothers Gems 942
current sheet number: 39
C(39)
Linn Lett Win Yadanar Gems 7/2000-2001
current sheet number: 40
C(40)
Long Byit Jewellery Co.,Ltd 104973124
current sheet number: 41
C(41)
Lyan Shan Company 357(1995-1996)
current sheet number: 42
C(42)
MYA YAUNG TUN GEMS & JEWELLERY Company 2393 /2012-2013
current sheet number: 43
C(43)
Myanma Seinn Lei Aung (MSLA-S) Company 1675/1999-2000
current sheet number: 44
C(44)
Myanmar  Ruby Enterprise 1499/1995-1996
current sheet number: 45
C(45)
Myanmar Economic Cooperation 108045671
current sheet number: 46
C(46)
Myanmar First Gems & Jewellery Company Limited 646/2006-2007
current sheet number: 47
C(47)
Myanmar Imperial Jade 176227869
current sheet number: 48
C(48)
MYANMAR SI-THU JEWELLERY CO;LTD 448/1995-1996
current sheet number: 49
C(49)
Myanmar Thura Company [MTY] 362/2003-2004
current sheet number: 50
C(50)
Myat Myitta Mon Gems nan
current sheet number: 51
C(51)
Myat Yamon Gems Company Limited 1043/ 1995-1996
current sheet number: 52
C(52)
Myo Nwe Gems & Jewellery Company Limited 432/1999-2000
current sheet number: 53
C(53)
Nan Htike Pyae Paing Gems & Jewellery Company Limited 108045671
current sheet number: 54
C(54)
Nay La Pwint Company 927/1995-1996
current sheet number: 55
C(55)
New Jade International Company (NJ) 482/1995-1996
current sheet number: 56
C(56)
Nilar Yoma Gems Co.,Ltd 1297 / 1995-1996
current sheet number: 57
C(57)
Oo Ya Gems 598 / 1999-2000
current sheet number: 58
C(58)
Pang Huke Duwa Company{PHD} 469
current sheet number: 59
C(59)
Pho Thar Htoo Gems Company [PTH] 252 /2003-2004
current sheet number: 60
C(60)
Phyo Pyae Sone nan
current sheet number: 61
C(61)
Phyo Thiha Kyaw Gems Co.,Ltd nan
current sheet number: 62
C(62)
Ruby Dragon Jade & Gems Co.,Ltd. nan
current sheet number: 63
C(63)
Sein Lom Taung Tan Gems Company Limited 108045671
current sheet number: 64
C(64)
Sein Thura San Company (GST) 108045671
current sheet number: 65
C(65)
Shining Star Light Gems& Jewellery Co.,Ltd (Tauk Pa Thaw) 193310389(13.5.2004)
current sheet number: 66
C(66)
Shwe Byain Phyu (Gems) Company 786
current sheet number: 67
C(67)
Shwe Gaung Gaung (SGG-S) Company nan
current sheet number: 68
C(68)
Shwe Oak Khai 101538060
current sheet number: 69
C(69)
Shwe Pyi Thar Gems Trading  and Faceting Co-op.,Ltd KHA-3313/SALA/CHAN AYE THAR SAN
current sheet number: 70
C(70)
SILVER ELEPHANT GEMS COMPANY LIMITED (Ngwe sin) NO.190/2001-2002
current sheet number: 71
C(71)
Super Natural Gems & Jewellery Co., Ltd. (Natural Best) 102003918
current sheet number: 72
C(72)
Super Same (SPS) Company No. (1887)/ 1995-1996
current sheet number: 73
C(73)
THI RAW MANI GEMS & JEWELLERY COMPANY LIMITED 363/1995-1996
current sheet number: 74
C(74)
Treasure Star Company Limited (Yadanar Kyal) 110015348
current sheet number: 75
C(75)
Tun Naing Aung Gems 1259/1995-1996
current sheet number: 76
C(76)
UNITY GEMS CO.LTD. 1259/1995-1996
current sheet number: 77
C(77)
VALUE STANDARD GEMS & JEWELLERY CO., LTD 103215811
current sheet number: 78
C(78)
WAI AUNG GABAR GEMS COMPANY LIMITED 696/2005-2006 (153250650)
current sheet number: 79
C(79)
Wai Family Gems Company Limited 174 / 2000 - 2001 (102870808)
current sheet number: 80
C(80)
YADANAR SIN THIRI GEMS COMPANY LIMITED 420/2002-2003
current sheet number: 81
C(81)
Yadanar Taung Tann Gems Co.,Ltd. 787
current sheet number: 82
C(82)
Yadanar Three Elephant Company 1873/2015-2016
current sheet number: 83
C(83)
Yar Za Htar Ni Gems Co., Ltd 1999/2010-2011
current sheet number: 84
C(84)
Zebu Thiri Gems Co.,Ltd 1323/2009-2010

,company_name,company_registration_number,name_of_revenue_stream,paid_to,payment_category,units,per_company_original,per_company_adjust,per_company_final,per_government_original,per_government_adjust,per_government_final,final_difference,comment
0,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Production Split (In Kind),"State Owned Enterprises (ME1, ME2)",,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan; nan
1,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Custom Duties,Customs Department (CD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan; nan
2,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Commercial Tax on Imported Capital Equipment,Customs Department (CD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan; nan
3,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Commercial Tax on Imports on Raw Materials and...,Customs Department (CD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan; nan
4,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Corporate Income Tax,Inertal Revenue Department (IRD),,MMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan; nan

True
2016-2017/appendix_18_reconciliation_sheets_by_company_gems_and_jade_final.xlsx
['C(1)', 'C(2)', 'C(3)', 'C(4)', 'C(5)', 'C(6)', 'C(7)', 'C(8)', 'C(9)', 'C(10)', 'C(11)', 'C(12)', 'C(13)', 'C(14)', 'C(15)', 'C(16)', 'C(17)', 'C(18)', 'C(19)', 'C(20)', 'C(21)', 'C(22)', 'C(23)', 'C(24)', 'C(25)', 'C(26)', 'C(27)', 'C(28)', 'C(29)', 'C(30)', 'C(31)', 'C(32)', 'C(33)', 'C(34)', 'C(35)', 'C(36)', 'C(37)', 'C(38)', 'C(39)', 'C(40)', 'C(41)', 'C(42)', 'C(43)', 'C(44)', 'C(45)', 'C(46)', 'C(47)', 'C(48)', 'C(49)', 'C(50)', 'C(51)', 'C(52)', 'C(53)', 'C(54)', 'C(55)', 'C(56)', 'C(57)', 'C(58)', 'C(59)', 'C(60)', 'C(61)', 'C(62)', 'C(63)', 'C(64)', 'C(65)', 'C(66)', 'C(67)', 'C(68)', 'C(69)', 'C(70)', 'C(71)', 'C(72)', 'C(73)', 'C(74)', 'C(75)', 'C(76)', 'C(77)', 'C(78)', 'C(79)', 'C(80)', 'C(81)', 'C(82)', 'C(83)', 'C(84)']
current sheet number: 1
C(1)
(1.1.1) Gems & Jewellery Co.,Ltd 121174545
current sheet number: 2
C(2)
Agga Yadanar Min Yarzar nan
current sheet number: 3
C(3)
Aung Aung Naing Naing Gems Co.,Ltd 948/2006-2007
current sheet number: 4
C(4)
Aung Myin Thu (AMT) Company 1135/1996-1997
current sheet number: 5
C(5)
Ayar Jade Company nan
current sheet number: 6
C(6)
Ayeyar Yadanar Gems & Jewellery Co., Ltd. 1532/1996-1997
current sheet number: 7
C(7)
Ba Wa Tet Lan nan
current sheet number: 8
C(8)
CANCRI (GEMS & Jewellery) Co.,Ltd (Phu Sha Star) nan
current sheet number: 9
C(9)
Chang Long Gems & Jewellery  Co.,Ltd. 147874405
current sheet number: 10
C(10)
Chaow Brothers (GCB) (Venture) 462/1995-1996
current sheet number: 11
C(11)
Crystal Red Gems Co.,Ltd 1020/1995-1996
current sheet number: 12
C(12)
Emerald Garden Co., Ltd. 701/2011-2012
current sheet number: 13
C(13)
Ever Winner Gems Company [EW] 952 / 1995-1996
current sheet number: 14
C(14)
Farmer Phyoyarzar Gems Co., Ltd 941/2004-05
current sheet number: 15
C(15)
Golden Grate Wall Gems Co.,Ltd 111033986
current sheet number: 16
C(16)
Great Genesis Gems (GMH) Company 978
current sheet number: 17
C(17)
Great Nine 105254474
current sheet number: 18
C(18)
GREEN MOUNTAIN COMPANY LIMITED 1161/2006-2007
current sheet number: 19
C(19)
Hawk Kyi Jewellery Company 1425/1996-1997
current sheet number: 20
C(20)
Jade Ayer International Co.,Ltd 136/2006-2007
current sheet number: 21
C(21)
Jade Mountain Gems Company 203/2000-2001
current sheet number: 22
C(22)
Jade New Gems & Jewellery Co., Ltd. 2657/2010-2011
current sheet number: 23
C(23)
Jade Padathar Company 1161/2013-2014
current sheet number: 24
C(24)
Jade Palace ( Kyauk Seinn Nandaw Gems & Jewellery Co., Ltd.) 1008/2003-2004 ( 100798247)
current sheet number: 25
C(25)
Jade Pioneer Company Limited (Jade Shaesaung) 102272692
current sheet number: 26
C(26)
JADE TREASURE COMPANY LIMITED 459/2006-2007
current sheet number: 27
C(27)
Kachin Nationals Development@ Progress Gems Co.,Ltd 938/1995-1996
current sheet number: 28
C(28)
Kaung Myat Thukha  Co., Ltd 780/2014-2015
current sheet number: 29
C(29)
Kaung Su Aung Jade & Gmes Co., Ltd. 582/2002-2003
current sheet number: 30
C(30)
Kaung Su Wai Hlyan Gems Co.,Ltd 295/2006-2007
current sheet number: 31
C(31)
Kaung Swan Htet Company 148/2010-2011
current sheet number: 32
C(32)
Khin Zaw Aung & Brothers Gems and Jewellery Company Limited 1117/2007-2008
current sheet number: 33
C(33)
Khine Lon Company (KL) 1811/2005-2006
current sheet number: 34
C(34)
KHUN PA-OH GEMS & JEWELLERY CO LTD. 1311/1995-1996
current sheet number: 35
C(35)
Kyaing International (GKI) Company 872/2007-2008
current sheet number: 36
C(36)
Kyauk Seinn Sun Shwin Jade, Gems & Jewellery Co., Ltd. 36/2012-2013
current sheet number: 37
C(37)
Kyauk Seinn Wingabar Jade, Gems & Jewellery Company 188/2012-2013
current sheet number: 38
C(38)
Kyaw Naing & Brothers Gems 942
current sheet number: 39
C(39)
Linn Lett Win Yadanar Gems 7/2000-2001
current sheet number: 40
C(40)
Long Byit Jewellery Co.,Ltd 104973124
current sheet number: 41
C(41)
Lyan Shan Company 357(1995-1996)
current sheet number: 42
C(42)
MYA YAUNG TUN GEMS & JEWELLERY Company 2393 /2012-2013
current sheet number: 43
C(43)
Myanma Seinn Lei Aung (MSLA-S) Company 1675/1999-2000
current sheet number: 44
C(44)
Myanmar  Ruby Enterprise 1499/1995-1996
current sheet number: 45
C(45)
Myanmar Economic Cooperation 108045671
current sheet number: 46
C(46)
Myanmar First Gems & Jewellery Company Limited 646/2006-2007
current sheet number: 47
C(47)
Myanmar Imperial Jade 176227869
current sheet number: 48
C(48)
MYANMAR SI-THU JEWELLERY CO;LTD 448/1995-1996
current sheet number: 49
C(49)
Myanmar Thura Company [MTY] 362/2003-2004
current sheet number: 50
C(50)
Myat Myitta Mon Gems nan
current sheet number: 51
C(51)
Myat Yamon Gems Company Limited 1043/ 1995-1996
current sheet number: 52
C(52)
Myo Nwe Gems & Jewellery Company Limited 432/1999-2000
current sheet number: 53
C(53)
Nan Htike Pyae Paing Gems & Jewellery Company Limited 108045671
current sheet number: 54
C(54)
Nay La Pwint Company 927/1995-1996
current sheet number: 55
C(55)
New Jade International Company (NJ) 482/1995-1996
current sheet number: 56
C(56)
Nilar Yoma Gems Co.,Ltd 1297 / 1995-1996
current sheet number: 57
C(57)
Oo Ya Gems 598 / 1999-2000
current sheet number: 58
C(58)
Pang Huke Duwa Company{PHD} 469
current sheet number: 59
C(59)
Pho Thar Htoo Gems Company [PTH] 252 /2003-2004
current sheet number: 60
C(60)
Phyo Pyae Sone nan
current sheet number: 61
C(61)
Phyo Thiha Kyaw Gems Co.,Ltd nan
current sheet number: 62
C(62)
Ruby Dragon Jade & Gems Co.,Ltd. nan
current sheet number: 63
C(63)
Sein Lom Taung Tan Gems Company Limited 108045671
current sheet number: 64
C(64)
Sein Thura San Company (GST) 108045671
current sheet number: 65
C(65)
Shining Star Light Gems& Jewellery Co.,Ltd (Tauk Pa Thaw) 193310389(13.5.2004)
current sheet number: 66
C(66)
Shwe Byain Phyu (Gems) Company 786
current sheet number: 67
C(67)
Shwe Gaung Gaung (SGG-S) Company nan
current sheet number: 68
C(68)
Shwe Oak Khai 101538060
current sheet number: 69
C(69)
Shwe Pyi Thar Gems Trading  and Faceting Co-op.,Ltd KHA-3313/SALA/CHAN AYE THAR SAN
current sheet number: 70
C(70)
SILVER ELEPHANT GEMS COMPANY LIMITED (Ngwe sin) NO.190/2001-2002
current sheet number: 71
C(71)
Super Natural Gems & Jewellery Co., Ltd. (Natural Best) 102003918
current sheet number: 72
C(72)
Super Same (SPS) Company No. (1887)/ 1995-1996
current sheet number: 73
C(73)
THI RAW MANI GEMS & JEWELLERY COMPANY LIMITED 363/1995-1996
current sheet number: 74
C(74)
Treasure Star Company Limited (Yadanar Kyal) 110015348
current sheet number: 75
C(75)
Tun Naing Aung Gems 1259/1995-1996
current sheet number: 76
C(76)
UNITY GEMS CO.LTD. 1259/1995-1996
current sheet number: 77
C(77)
VALUE STANDARD GEMS & JEWELLERY CO., LTD 103215811
current sheet number: 78
C(78)
WAI AUNG GABAR GEMS COMPANY LIMITED 696/2005-2006 (153250650)
current sheet number: 79
C(79)
Wai Family Gems Company Limited 174 / 2000 - 2001 (102870808)
current sheet number: 80
C(80)
YADANAR SIN THIRI GEMS COMPANY LIMITED 420/2002-2003
current sheet number: 81
C(81)
Yadanar Taung Tann Gems Co.,Ltd. 787
current sheet number: 82
C(82)
Yadanar Three Elephant Company 1873/2015-2016
current sheet number: 83
C(83)
Yar Za Htar Ni Gems Co., Ltd 1999/2010-2011
current sheet number: 84
C(84)
Zebu Thiri Gems Co.,Ltd 1323/2009-2010

,company_name,company_registration_number,name_of_revenue_stream,paid_to,payment_category,units,per_company_original,per_company_adjust,per_company_final,per_government_original,per_government_adjust,per_government_final,final_difference,comment
0,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Production Split (In Kind),"State Owned Enterprises (ME1, ME2)",,MMK,0.00,0.00,0.0,0.00,0.00,0.0,0.0,nan; nan
1,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Custom Duties,Customs Department (CD),,MMK,2082333.73,-2082333.73,0.0,37149860.73,-37149860.73,0.0,0.0,nan; nan
2,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Commercial Tax on Imported Capital Equipment,Customs Department (CD),,MMK,0.00,0.00,0.0,72007752.70,-72007752.70,0.0,0.0,nan; nan
3,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Commercial Tax on Imports on Raw Materials and...,Customs Department (CD),,MMK,0.00,0.00,0.0,0.00,0.00,0.0,0.0,nan; nan
4,"(1.1.1) Gems & Jewellery Co.,Ltd",121174545,Corporate Income Tax,Internal Revenue Department (IRD),,MMK,41883973.00,-41883973.00,0.0,0.00,0.00,0.0,0.0,nan; nan